<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h2>You are about to edit Student : <%= student.id %></h2>
    <form method="post" action="/students/<%= student.id %>?_method=PATCH">
        <textarea name="name"><%= student.name %></textarea>
        <br>
        <textarea name="phone"><%= student.phone %></textarea>
        <br>
        <button>Edit</button>
    </form>
</body>
</html>